.page {
  composes: page from 'chora/styles/page.css';
}

.banner {
  composes: banner-full from 'chora/styles/main.css';
}

.banner h1 {
  font-size: 1.75em;
  margin-top: 2.5%;
  padding: 0.15em 0;
}

@media (max-width: 850px) {
  .banner h1 {
    padding: 0.1em 0 !important;
  }
}

.banner p {
  padding: 0.2em 0;
}

@media (max-width: 850px) {
  .banner p {
    padding: 0.15em 0 !important;
  }
}

.content {
  composes: content-full from 'chora/styles/main.css';
}

.content > div > h2 {
  padding-bottom: 0.25em;
}

@media (max-width: 850px) {
  .content > div > h2 {
    padding-bottom: 0;
  }
}

.content > div > a {
  display: block;
  margin-bottom: 2em;
}

@media (max-width: 850px) {
  .content > div > a {
    margin-bottom: 1.5em;
  }
}
