.page {
  composes: page from 'chora/styles/page.css';
}

.banner {
  composes: banner-full from 'chora/styles/main.css';
}

.content {
  composes: content-full from 'chora/styles/main.css';
}

.content > div {
  padding: 6em 0 !important;
}

@media (max-width: 850px) {
  .content > div {
    padding: 4em 0 !important;
  }
}

.content > div > a {
  margin-bottom: 2em !important;
}
