/* container */

.container {
  background: var(--background-primary-transparent);
  width: 100vw;
}

/* sectionText */

.sectionText {
  align-items: center;
  background: var(--background-primary);
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  min-height: 100vh;
}

@media (max-width: 850px) {
  .sectionText {
    font-size: 1rem;
  }
}

.sectionText div {
  display: block;
  margin-bottom: 5%;
  max-width: 650px;
  padding: 2rem;
}

.sectionText h1 {
  margin: 2rem 0 1rem 0;
}

.sectionText h2 {
  margin-top: 2rem;
}

.sectionText div p {
  padding: 1rem 0;
}

@media (max-width: 850px) {
  .sectionText div {
    padding: 2rem;
  }
}
